





.container {
  position: relative;
  margin: 0 auto;
}

button {
  background-color: #2cc185;
  color: #fff;
  border: 0;
  padding: 1em 1.5em;
}

button:hover {
  background-color: #239768;
  color: #fff;
}

button:focus {
  background-color: #239768;
  color: #fff;
}
a:hover {color:#FFFFFF;}
a {color:#FFFFFF;}

.accordion {
  position: relative;
  background-color: #fff;
  display: inline-block;
  width: 100%;
  border-top: 1px solid #f1f4f3;
  border-bottom: 1px solid #f1f4f3;
  font-weight: 700;
  color: #74777b;
  vertical-align: middle;
}

.accordion .fa {
  position: relative;
  float: right;
}

.accordion h4 {
  position: relative;
  top: 0.8em;
  margin: 0;
  font-size: 18px;
  font-weight: 700;
}

.accordion a {
  position: relative;
  display: block;
  color: #74777b;
  padding: 1em 1em 2.5em 1em;
  text-decoration: none;
}

.accordion a:hover {
  text-decoration: none;
  color: #2cc185;
  background-color: #e7ecea;
  transition: 0.3s;
}

.accordion-desc {
  background-color: #3A3A3A;
  color: #eee;
  z-index: 2;
  padding: 20px 15px;
}
 @media (min-width:480px) {

.container { max-width: 80%; }
}
 @media (min-width:768px) {

.container { max-width: 100%; }
}
